input {
  margin-top: 1em;
}

.golfBuddyLogo {
  position: absolute;
  height: 30vmin;
  pointer-events: none;
  border-radius: 9em;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.signInContainer {
  min-width: 20em;
  min-height: 20em;
}


@media (prefers-reduced-motion: no-preference) {
  .golfBuddyLogo {
    animation: golfBuddyLogoSpin infinite 3s linear;
  }
}

@keyframes golfBuddyLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}