.landingContainer {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  min-height: 20vh;
}